.welcomeImage {
  height: 80vw;
}
.welcomeLogo {
  height: 60vw;
  width: 60vw;
  position: absolute;
  top: 12rem;
  left: 5.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.description {
  padding: 2rem;
}
